body{
    /* background-color: rgb(191, 191, 191); */
    background-image: url(../img/2191531-bola-de-futebol-no-fundo-azul-vetor.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

header{
    /* background-color: rgb(77, 139, 195); */
    padding: 3%;
}

.logo{
    /* background-color: rgb(255, 255, 0); */
}

nav{
    /* background-color: rgb(184, 209, 231); */
}

main{
    /* background-color: rgb(146,208,80); */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    /* background-color: rgb(241, 214, 226); */
}

footer{
    /* background-color: rgb(112, 48, 160); */
    padding: 3%;
}

.cabecalho{
    padding: 3%;
}
.Rodapé{
    /* padding: 3%; */
}
h1,h2{
    line-height: 3;
}
p{
    font-size: 1.2em;
    line-height: 1.5;
}
ul, li {
    line-height: 1.5;
    font-size: 1.2em;
}

.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}

.logo img{
    width: 35%;
    height: auto;
}